/.idea
/coverage.txt
/dist/

# intermediate files used to create Windows Installer (func-e.msi)
func-e.wixobj

# possible when testing
/func-e
/func-e.exe
/func-e.msi
/Tetrate.func-e.yaml
/manifests/

# Local Netlify folder
.netlify
.DS_Store
