# See https://docs.travis-ci.com/user/reference/overview/#for-a-particular-travisyml-configuration
# run `travis lint` prior to check-in!
os: linux   # required for arch different than amd64
arch: amd64  # TODO arm64-graviton2 # we only only test archs not already tested with GH actions
group: edge  # required for arm64-graviton2
virt: lxd  # faster starting
language: go

go:
  - 1.16.4

git:
  depth: false  # TRAVIS_COMMIT_RANGE requires full commit history.

if: branch = master AND tag IS blank AND type IN (push, pull_request)
before_install: |  # Prevent test build of a documentation-only change.
  make check || travis_terminate 1
  if [ -n "${TRAVIS_COMMIT_RANGE}" ] && ! git diff --name-only "${TRAVIS_COMMIT_RANGE}" -- | grep -qv '\.md$'; then
    echo "Stopping job as changes only affect documentation (ex. README.md)"
    travis_terminate 0
  fi
script: make e2e
