# See https://docs.travis-ci.com/user/reference/overview/#for-a-particular-travisyml-configuration
# run `travis lint` prior to check-in!
os: linux   # required for arch different than amd64
arch: arm64-graviton2 # we only only test archs not already tested with GH actions
group: edge  # required for arm64-graviton2
virt: lxd  # faster starting
language: go

go:
  - 1.17.0

cache:
  directories: # ~/.func-e/versions is cached so that we only re-download once: for TestFuncEInstall
    - $HOME/.func-e/versions
    - $HOME/go/pkg/mod
    - $HOME/go/bin/*-v*

git:
  depth: false  # TRAVIS_COMMIT_RANGE requires full commit history.

if: (type = push AND branch = master) OR type = pull_request

before_install: |  # Prevent test build of a documentation or GitHub Actions only change.
  if [ -n "${TRAVIS_COMMIT_RANGE}" ] && ! git diff --name-only "${TRAVIS_COMMIT_RANGE}" -- \
    grep -qvE '(\.md)$|^(packaging\/)$|^(site\/)|^(netlify.toml)|^(.github\/)'; then
    echo "Stopping job as changes are tested with GitHub Actions"
    travis_terminate 0
  fi
  make check || travis_terminate 1

script: make e2e
