# See https://docs.travis-ci.com/user/reference/overview/#for-a-particular-travisyml-configuration
# run `travis lint` prior to check-in!
os: linux   # required for arch different than amd64
arch: arm64-graviton2 # we only only test archs not already tested with GH actions
group: edge  # required for arm64-graviton2
virt: lxd  # faster starting
language: go

go:  # Use gimme expression to get latest patch. See https://github.com/travis-ci/gimme
  - 1.17.x

cache:
  directories: # ~/.func-e/versions is cached so that we only re-download once: for TestFuncEInstall
    - $HOME/.func-e/versions
    - $HOME/go/pkg/mod

git:
  depth: false  # TRAVIS_COMMIT_RANGE requires full commit history.

if: (type = push AND branch = master) OR type = pull_request

before_install: |  # Prevent test build of a documentation or GitHub Actions only change.
  if [ -n "${TRAVIS_COMMIT_RANGE}" ] && ! git diff --name-only "${TRAVIS_COMMIT_RANGE}" -- \
    grep -qvE '(\.md)$|^(packaging\/)$|^(site\/)|^(netlify.toml)|^(.github\/)'; then
    echo "Stopping job as changes are tested with GitHub Actions"
    travis_terminate 0
  fi
  make check || travis_terminate 1

env:  # CENTOS_IMAGE was built by internal-images.yaml; E2E_FUNC_E_PATH was built via `make e2e`
  global:
    - CENTOS_IMAGE=ghcr.io/tetratelabs/func-e-internal:centos8
    - E2E_FUNC_E_PATH=build/func-e_linux_arm64/func-e

script:
  # Run e2e tests using the `func-e` binary (Ubuntu)
  - make e2e
  # Run e2e tests using the `func-e` binary (CentOS)
  - docker run -v $HOME/.func-e:/root/.func-e -v $PWD:/func-e --rm ${CENTOS_IMAGE} -c "cd /func-e; make -o ${E2E_FUNC_E_PATH} e2e"
