# `name` value will appear "as is" in the badge.
# See https://docs.github.com/en/actions/configuring-and-managing-workflows/configuring-a-workflow#adding-a-workflow-status-badge-to-your-repository
# yamllint --format github .github/workflows/commit.yaml
---
name: "build"

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'
  # workflow_dispatch will let us manually trigger the workflow from GitHub actions dashboard.
  # This is important because sometimes the macos build fails due to Docker installation.
  # See https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/manually-running-a-workflow
  workflow_dispatch:

jobs:
  test:
    name: "Run unit tests"
    runs-on: ${{ matrix.runner.os }}
    timeout-minutes: 90  # instead of 360 by default
    strategy:
      matrix:
        runner:
          - os: macos-latest
          - os: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2

      - name: "Install Go"
        uses: actions/setup-go@v2
        with:
          go-version: '1.16.2'

      - name: "Install 'Docker for Mac' (Latest)"
        uses: docker-practice/actions-setup-docker@v1  # needed while TestGetEnvoyExtensionPush uses a real registry
        if: runner.os == 'macOS'
        with:
          docker_buildx: false  # Install is flakey. When it, we can install it via docker/setup-buildx-action@v1
        timeout-minutes: 20  # fail fast if MacOS install takes too long

      - name: "Init on first use"
        run: make init

      - name: "Verify clean check-in"
        run: make check

      # prefetch implicit version needed by pkg/binary/envoy/controlplane/istio_test.go until #136. This avoids:
      # Unable to start Envoy process: fork/exec /home/circleci/.getenvoy/builds/standard/1.11.0/linux_glibc/bin/envoy: text file busy
      - name: "Pre-fetch envoy"
        run: go run cmd/getenvoy/main.go fetch standard:1.11.0

      - name: "Run unit tests"
        run: make test

      - name: "Generate test coverage report"
        if: runner.os == 'Linux'  # no need to do this per operating system
        run: make coverage

      - name: "Upload test coverage report"
        uses: actions/upload-artifact@v2
        if: runner.os == 'Linux'  # no need to do this per operating system
        with:
          name: coverage
          path: build/coverage

  bin:
    name: "Build the `getenvoy` binary for use in e2e tests"
    runs-on: ubuntu-latest
    timeout-minutes: 15  # instead of 360 by default
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2

      - name: "Install Go"
        uses: actions/setup-go@v2
        with:
          go-version: '1.16.2'

      - name: "Init on first use"
        run: make init

      - name: "Build the `getenvoy` binary"
        run: make bin

      - name: "Share the `getenvoy` binary with the downstream jobs"
        uses: actions/upload-artifact@v2
        with:
          name: bin
          path: build/bin

  e2e:
    name: Run e2e tests (${{ matrix.runner.os }}, ${{ matrix.args.extension-language }})
    needs:
      - bin
    runs-on: ${{ matrix.runner.os }}
    timeout-minutes: 90  # instead of 360 by default
    strategy:
      matrix:
        runner:
          - os: macos-latest
          - os: ubuntu-latest
        args:  # Controls arguments used in all extension tests. Managed by test/e2e/main_test.go
          - extension-language: rust
            # Attempt to avoid re-downloading almost 200MB of deps per test that implies "getenvoy extension build"
            # This uses the RUNNER_TEMP variable directly to avoid having to mkdir a sub-path.
            toolchain-container-options: "-v ${RUNNER_TEMP}:/tmp/cargohome -e CARGO_HOME=/tmp/cargohome"
          - extension-language: tinygo
            toolchain-container-options: ""
    env:
      E2E_EXTENSION_LANGUAGE: ${{ matrix.args.extension-language }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2

      - name: "Re-use the `getenvoy` binary pre-built by the upstream job"
        uses: actions/download-artifact@v2
        with:
          name: bin
          path: build/bin

      - name: "Install 'Docker for Mac' (Latest)"
        uses: docker-practice/actions-setup-docker@v1
        if: runner.os == 'macOS' && matrix.args.extension-language == 'tinygo'
        with:
          docker_buildx: false  # Install is flakey. When it, we can install it via docker/setup-buildx-action@v1
        timeout-minutes: 20  # fail fast if MacOS install takes too long

      - name: "Install 'Docker for Mac' (2.0.0.3 2019-02-15)"  # Avoid >1hr tests on macOS+rust. See issue #145
        if: runner.os == 'macOS' && matrix.args.extension-language == 'rust'
        # don't use `DOCKER_BUILDKIT=1`, `--build-arg BUILDKIT_INLINE_CACHE=1` and `--cache-from`
        # options when using this version of `Docker for Mac`
        run: |
          ./ci/e2e/darwin/install_docker.sh
          echo "USE_DOCKER_BUILDKIT_CACHE=no" >> $GITHUB_ENV
        timeout-minutes: 20  # fail fast if MacOS install takes too long

      - name: "Build language-specific Docker build images"
        run: make builders
        timeout-minutes: 10  # fail fast if MacOS runner becomes too slow

      - name: "Run e2e tests using the `getenvoy` binary built by the upstream job"
        # expand E2E_TOOLCHAIN_CONTAINER_OPTIONS here to allow shell interpolation
        run: E2E_TOOLCHAIN_CONTAINER_OPTIONS="${{ matrix.args.toolchain-container-options }}" make e2e
