# `name` value will appear "as is" in the badge.
# See https://docs.github.com/en/actions/configuring-and-managing-workflows/configuring-a-workflow#adding-a-workflow-status-badge-to-your-repository
# yamllint --format github .github/workflows/release.yaml
---
name: "release"

on:
  push:
    tags:
      - '**'
  # workflow_dispatch will let us manually trigger the workflow from GitHub actions dashboard.
  # This is important because sometimes the macos build fails due to Docker installation.
  # See https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/manually-running-a-workflow
  workflow_dispatch:

jobs:
  getenvoy:
    name: "Release `getenvoy` CLI"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
        with:
          # fetch all history for all tags and branches (needed for changelog)
          fetch-depth: 0

      - name: "Set up Go"
        uses: actions/setup-go@v2
        with:
          go-version: '1.16.2'

      - name: "Login into DockerHub"
        uses: azure/docker-login@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: "Run GoReleaser"
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_GETENVOY_GITHUB_TOKEN: ${{ secrets.GETENVOY_CI_GITHUB_TOKEN }}

  builders:
    name: "Release extension builder images"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # fetch all history for all tags and branches (needed to determine the right cache source image)
          fetch-depth: 0

      - name: "Get tag name"
        run: | # Trim "v" prefix in the release tag
          RELEASE_TAG=${GITHUB_REF#refs/*/}
          if [[ "${RELEASE_TAG}" = v* ]]; then RELEASE_VERSION="${RELEASE_TAG:1}"; else RELEASE_VERSION="${RELEASE_TAG}"; fi
          echo "RELEASE_VERSION=${RELEASE_VERSION}" >> $GITHUB_ENV

      - name: "Build extension builder images"
        run: make builders BUILDERS_TAG=${{ env.RELEASE_VERSION }}

      - name: "Login into DockerHub"
        uses: azure/docker-login@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: "Push extension builder images"
        run: make builders.push BUILDERS_TAG=${{ env.RELEASE_VERSION }}

  e2e_linux:
    name: "Run e2e tests on Linux"
    needs:
      - getenvoy
      - builders
    runs-on: ubuntu-latest
    timeout-minutes: 30  # instead of 360 by default
    strategy:
      matrix:
        include:  # Controls language used in all extension tests. Managed by test/e2e/main_test.go
          - extension-language: rust
          - extension-language: tinygo
    env:
      E2E_EXTENSION_LANGUAGE: ${{ matrix.extension-language }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2

      - name: "Get tag name"
        run: | # Trim "v" prefix in the release tag
          RELEASE_TAG=${GITHUB_REF#refs/*/}
          if [[ "${RELEASE_TAG}" = v* ]]; then RELEASE_VERSION="${RELEASE_TAG:1}"; else RELEASE_VERSION="${RELEASE_TAG}"; fi
          echo "RELEASE_VERSION=${RELEASE_VERSION}" >> $GITHUB_ENV
          echo "RELEASE_TAG=${RELEASE_TAG}" >> $GITHUB_ENV

      - name: "Download `e2e` binary pre-built by the upstream job"
        uses: actions/download-artifact@v2
        with:
          name: bin
          path: build/bin

      - name: "Download `getenvoy` binary from GitHub release assets"
        env:
          INPUT_FILE: getenvoy_${{ env.RELEASE_VERSION }}_Linux_x86_64.tar.gz
          INPUT_VERSION: tags/${{ env.RELEASE_TAG }}
        run: |  # extract getenvoy to location used in `make e2e`. don't chmod because tar.gz should be correct.
          curl -s https://raw.githubusercontent.com/dsaltares/fetch-gh-release-asset/0.0.5/fetch_github_asset.sh | bash
          mkdir -p build/bin/linux/amd64
          tar -C build/bin/linux/amd64 -xf ${INPUT_FILE} getenvoy

      - name: "Pull extension builder images"
        # pull Docker images in advance to make output of `getenvoy extension build | test | run` stable
        run: make builders.pull BUILDERS_TAG=${{ env.RELEASE_VERSION }}

      - name: "Run e2e tests using released `getenvoy` binary and published extension builder images"
        run: ./ci/e2e/linux/run_tests.sh

  e2e_macos:
    name: "Run e2e tests on MacOS"
    needs:
      - getenvoy
      - builders
    runs-on: macos-latest
    timeout-minutes: 90  # instead of 360 by default
    strategy:
      matrix:
        include:  # Controls language used in all extension tests. Managed by test/e2e/main_test.go
          - extension-language: rust
          - extension-language: tinygo
    env:
      E2E_EXTENSION_LANGUAGE: ${{ matrix.extension-language }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2

      - name: "Get tag name"
        run: |  # Trim "v" prefix in the release tag
          RELEASE_TAG=${GITHUB_REF#refs/*/}
          if [[ "${RELEASE_TAG}" = v* ]]; then RELEASE_VERSION="${RELEASE_TAG:1}"; else RELEASE_VERSION="${RELEASE_TAG}"; fi
          echo "RELEASE_VERSION=${RELEASE_VERSION}" >> $GITHUB_ENV
          echo "RELEASE_TAG=${RELEASE_TAG}" >> $GITHUB_ENV

      - name: "Download `e2e` binary pre-built by the upstream job"
        uses: actions/download-artifact@v2
        with:
          name: bin
          path: build/bin

      - name: "Download `getenvoy` binary from GitHub release assets"
        env:
          INPUT_FILE: getenvoy_${{ env.RELEASE_VERSION }}_Darwin_x86_64.tar.gz
          INPUT_VERSION: tags/${{ env.RELEASE_TAG }}
        run: |  # extract getenvoy to location used in `make e2e`. don't chmod because tar.gz should be correct.
          curl -s https://raw.githubusercontent.com/dsaltares/fetch-gh-release-asset/0.0.5/fetch_github_asset.sh | bash
          mkdir -p build/bin/darwin/amd64
          tar -C build/bin/darwin/amd64 -xf ${INPUT_FILE} getenvoy

      - name: "Install 'Docker for Mac' (an older version that can be installed in CI environment)"
        run: ./ci/e2e/darwin/install_docker.sh
        timeout-minutes: 7  # unfortunately, installing `Docker for Mac` in CI environment is fragile; be ready to restart the job ocasionally

      - name: "Pull extension builder images"
        # pull Docker images in advance to make output of
        # `getenvoy extension build | test | run` stable
        run: make builders.pull BUILDERS_TAG=${{ env.RELEASE_VERSION }}
        timeout-minutes: 10  # fail fast if MacOS runner becomes to slow

      - name: "Run e2e tests using released `getenvoy` binary and published extension builder images"
        run: ./ci/e2e/darwin/run_tests.sh
